.statsTitle{
    border-bottom: 1px solid #00ade1;
    margin-bottom: 8px;
    padding: 4px;
}
.statistics:not(:last-child){
margin-bottom: 8px;
}
.statList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    background-color: #ffffff;
    align-items: center;
    padding-left: 6px;
    width: 70px;
    border: 1px solid #00ade1;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.percentage{
    border-radius: 4px;
    background-color: #00e12e1a;
    padding: 6px;
    font-weight: 500;
}